In [1]:
import pymysql

In [2]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'simba911'
)
mycursor = mydb.cursor()

In [3]:
mycursor.execute('create database storemanagementsystem')

1

In [4]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'simba911',
    database='storemanagementsystem'
)
mycursor = mydb.cursor()

In [8]:
mycursor.execute('create table electronicsdetails(StoreIDnum int not null primary key,ItemName varchar(255) not null,SerialNumber int not null,ItemType varchar(255) not null,ItemBrand varchar(255) not null,ItemQuantity int not null)')

0

In [9]:
mycursor.execute('create table weardetails(StoreIDnum int not null primary key,ItemName varchar(255) not null,SerialNumber int not null,ItemType varchar(255) not null,ItemBrand varchar(255) not null,ItemQuantity int not null)')

0

In [10]:
mycursor.execute('create table phonedetails(StoreIDnum int not null primary key,ItemName varchar(255) not null,SerialNumber int not null,ItemType varchar(255) not null,ItemBrand varchar(255) not null,ItemQuantity int not null)')

0

In [11]:
mycursor.execute('create table computerdetails(StoreIDnum int not null primary key,ItemName varchar(255) not null,SerialNumber int not null,ItemType varchar(255) not null,ItemBrand varchar(255) not null,ItemQuantity int not null)')

0

In [15]:
sql = 'insert into electronicsdetails(StoreIDnum,ItemName,SerialNumber,ItemType,ItemBrand,ItemQuantity) values(%s,%s,%s,%s,%s,%s)'
values = [(1,'Refrigirator','244245','Storage device','LG','250'),
          (2,'Electriccal kettles','345568','Kitchen equipment','Sony','350'),
          (3,'Microwave','344589','Kitchen equipment','Lenovo','400'),
          (4,'Speakers','457898','Audio/Tv','HP','400'),
          (5,'Television','135606','Entertainment','Samsung','500'),
          (6,'DVD/CD Players','2022378','video/audio device','Sony','400'),
          (7,'Dish Washers','165849','Kitchen device','LG','800'),
          (8,'Standing fans','033258','cooling device','Samsung','550'),
          (9,'Vaccum cleaners','062945','cleaning equipment','Panasonic','300'),
          (10,'Blenders','904245','Kitchen equipment','LG','400')]
mycursor.executemany(sql,values)
mydb.commit()

In [16]:
sql = 'insert into weardetails(StoreIDnum,ItemName,SerialNumber,ItemType,ItemBrand,ItemQuantity) values(%s,%s,%s,%s,%s,%s)'
values = [(1,'Torso','203859','clothing','Boss','2000'),
          (2,'Jeans','350648','clothing','Gucci','3500'),
          (3,'Trousers','344589','clothing','versace','4000'),
          (4,'Shoes','457898','clothing','Gucci','7000'),
          (5,'Wrist watch','135606','Accessories','Rolex','18000'),
          (6,'Underwears','2022378','clothing','Adidas','40000'),
          (7,'Hats','165849','Accessories','Luis vutton','8000'),
          (8,'Socks','033258','clothing','Adidas','5500'),
          (9,'Gym wears','062945','clothing','Nike','3000'),
          (10,'Blazzers/Suits','904245','clothing','Chanel','4000')]
mycursor.executemany(sql,values)
mydb.commit()

In [17]:
sql = 'insert into phonedetails(StoreIDnum,ItemName,SerialNumber,ItemType,ItemBrand,ItemQuantity) values(%s,%s,%s,%s,%s,%s)'
values = [(1,'Apple Ipad','004245','Gadget','Apple','850'),
          (2,'Samsung s10','200568','Mobile smartphone','samsung','850'),
          (3,'Tecno spark9','006579','Mobile smartphone','Tecno','900'),
          (4,'Infinix Note 8i','056898','Mobile smartphone','Infinix','700'),
          (5,'Samsung Fold','233606','Mobile smartphone','Samsung','800'),
          (6,'Apple iphone xs','981378','Mobile smartphone','Apple','900'),
          (7,'Apple iphone 14','165849','Mobile smartphone','Apple','700'),
          (8,'Nokia note5','133258','Mobile smartphone','Nokia','850'),
          (9,'Samsung tab','062945','Mobile Gadget','Samsung','800'),
          (10,'Oppo reno 3','110245','Mobile smartphone','Oppo','700')]
mycursor.executemany(sql,values)
mydb.commit()

In [18]:
sql = 'insert into computerdetails(StoreIDnum,ItemName,SerialNumber,ItemType,ItemBrand,ItemQuantity) values(%s,%s,%s,%s,%s,%s)'
values = [(1,'Macbook pro','004245','laptop','Apple','950'),
          (2,'Lenove i7','200568','Desktop computer','Lenove','750'),
          (3,'Hp pavilion','006579','Desktop computer','HP','900'),
          (4,'Lenovo v130','056898','Laptop','Lenovo','700'),
          (5,'Lenovo intel core i3','233606','Laptop','Lenovo','800'),
          (6,'Hp pro desk 600','981378','Desktop computer','Acer','900'),
          (7,'Hp pro 6300','165849','Desktop computer','HP','700'),
          (8,'Macbook pro v41','133258','Laptop','Apple','850'),
          (9,'Samsung laptop','062945','Laptop','Samsung','800'),
          (10,'Lenovo a360','110245','Laptop','Hp','700')]
mycursor.executemany(sql,values)
mydb.commit()

In [19]:
mycursor.execute('select * from electronicsdetails')
for x in mycursor:
    print(x)

(1, 'Refrigirator', 244245, 'Storage device', 'LG', 250)
(2, 'Electriccal kettles', 345568, 'Kitchen equipment', 'Sony', 350)
(3, 'Microwave', 344589, 'Kitchen equipment', 'Lenovo', 400)
(4, 'Speakers', 457898, 'Audio/Tv', 'HP', 400)
(5, 'Television', 135606, 'Entertainment', 'Samsung', 500)
(6, 'DVD/CD Players', 2022378, 'video/audio device', 'Sony', 400)
(7, 'Dish Washers', 165849, 'Kitchen device', 'LG', 800)
(8, 'Standing fans', 33258, 'cooling device', 'Samsung', 550)
(9, 'Vaccum cleaners', 62945, 'cleaning equipment', 'Panasonic', 300)
(10, 'Blenders', 904245, 'Kitchen equipment', 'LG', 400)

In [20]:
mycursor.execute('select * from weardetails')
for x in mycursor:
    print(x)

(1, 'Torso', 203859, 'clothing', 'Boss', 2000)
(2, 'Jeans', 350648, 'clothing', 'Gucci', 3500)
(3, 'Trousers', 344589, 'clothing', 'versace', 4000)
(4, 'Shoes', 457898, 'clothing', 'Gucci', 7000)
(5, 'Wrist watch', 135606, 'Accessories', 'Rolex', 18000)
(6, 'Underwears', 2022378, 'clothing', 'Adidas', 40000)
(7, 'Hats', 165849, 'Accessories', 'Luis vutton', 8000)
(8, 'Socks', 33258, 'clothing', 'Adidas', 5500)
(9, 'Gym wears', 62945, 'clothing', 'Nike', 3000)
(10, 'Blazzers/Suits', 904245, 'clothing', 'Chanel', 4000)

In [21]:
mycursor.execute('select * from phonedetails')
for x in mycursor:
    print(x)

(1, 'Apple Ipad', 4245, 'Gadget', 'Apple', 850)
(2, 'Samsung s10', 200568, 'Mobile smartphone', 'samsung', 850)
(3, 'Tecno spark9', 6579, 'Mobile smartphone', 'Tecno', 900)
(4, 'Infinix Note 8i', 56898, 'Mobile smartphone', 'Infinix', 700)
(5, 'Samsung Fold', 233606, 'Mobile smartphone', 'Samsung', 800)
(6, 'Apple iphone xs', 981378, 'Mobile smartphone', 'Apple', 900)
(7, 'Apple iphone 14', 165849, 'Mobile smartphone', 'Apple', 700)
(8, 'Nokia note5', 133258, 'Mobile smartphone', 'Nokia', 850)
(9, 'Samsung tab', 62945, 'Mobile Gadget', 'Samsung', 800)
(10, 'Oppo reno 3', 110245, 'Mobile smartphone', 'Oppo', 700)

In [22]:
mycursor.execute('select * from computerdetails')
for x in mycursor:
    print(x)

(1, 'Macbook pro', 4245, 'laptop', 'Apple', 950)
(2, 'Lenove i7', 200568, 'Desktop computer', 'Lenove', 750)
(3, 'Hp pavilion', 6579, 'Desktop computer', 'HP', 900)
(4, 'Lenovo v130', 56898, 'Laptop', 'Lenovo', 700)
(5, 'Lenovo intel core i3', 233606, 'Laptop', 'Lenovo', 800)
(6, 'Hp pro desk 600', 981378, 'Desktop computer', 'Acer', 900)
(7, 'Hp pro 6300', 165849, 'Desktop computer', 'HP', 700)
(8, 'Macbook pro v41', 133258, 'Laptop', 'Apple', 850)
(9, 'Samsung laptop', 62945, 'Laptop', 'Samsung', 800)
(10, 'Lenovo a360', 110245, 'Laptop', 'Hp', 700)