In [14]:
import pymysql

mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'simba911',
    database = 'greenwayschoolmanagementsystem'
)
mycursor = mydb.cursor()

In [21]:
mycursor.execute('alter table staffdetails add column staffcontact text not null')
mycursor.execute('show columns from staffdetails')
for x in mycursor:
    print(x)

('id', 'int', 'NO', 'PRI', None, '')
('StaffName', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffdob', 'date', 'NO', '', None, '')
('staffcontact', 'text', 'NO', '', None, '')

In [22]:
mycursor.execute('alter table staffdetails add column staffaddress text not null')
mycursor.execute('show columns from staffdetails')
for x in mycursor:
    print(x)

('id', 'int', 'NO', 'PRI', None, '')
('StaffName', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffdob', 'date', 'NO', '', None, '')
('staffcontact', 'text', 'NO', '', None, '')
('staffaddress', 'text', 'NO', '', None, '')

In [23]:
mycursor.execute('alter table staffdetails drop staffaddress')
mycursor.execute('show columns from staffdetails')
for x in mycursor:
    print(x)

('id', 'int', 'NO', 'PRI', None, '')
('StaffName', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffdob', 'date', 'NO', '', None, '')
('staffcontact', 'text', 'NO', '', None, '')

In [24]:
mycursor.execute('alter table staffdetails change column staffcontact staffphonenumber  text not null')
mycursor.execute('show columns from staffdetails')
for x in mycursor:
    print(x)

('id', 'int', 'NO', 'PRI', None, '')
('StaffName', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffdob', 'date', 'NO', '', None, '')
('staffphonenumber', 'text', 'NO', '', None, '')

In [25]:
mycursor.execute('alter table staffdetails rename to staffrecords')
mycursor.execute('show tables')
for x in mycursor:
    print(x)

('staffrecords',)

In [33]:
sql = 'insert into staffrecords(id,staffname,staffgender,staffdob,staffphonenumber) values(%s,%s,%s,%s,%s)'
values = [(1,'Janet Lawal','Female','1987-02-22','08165898794'),
          (2,'Samuel Okoro','Male','1999-05-06','08798446897'),
          (3,'Susan Paul','Female','1992-06-27','080347987945'),
          (4,'Jackson Akpan','male','1985-07-25','070689789546'),
          (5,'Ojukwu Okere','Male','1991-12-24','09057789548'),
          (6,'Johan Akinlabi','Female','1985-09-15','0978545689'),
          (7,'PAtrick Ogunlade','Male','1997-05-30','09159632478')]
mycursor.executemany(sql,values)
mydb.commit()

In [34]:
mycursor.execute('select * from staffrecords')
for x in mycursor:
    print(x)

(1, 'Janet Lawal', 'Female', datetime.date(1987, 2, 22), '08165898794')
(2, 'Samuel Okoro', 'Male', datetime.date(1999, 5, 6), '08798446897')
(3, 'Susan Paul', 'Female', datetime.date(1992, 6, 27), '080347987945')
(4, 'Jackson Akpan', 'male', datetime.date(1985, 7, 25), '070689789546')
(5, 'Ojukwu Okere', 'Male', datetime.date(1991, 12, 24), '09057789548')
(6, 'Johan Akinlabi', 'Female', datetime.date(1985, 9, 15), '0978545689')
(7, 'PAtrick Ogunlade', 'Male', datetime.date(1997, 5, 30), '09159632478')

In [38]:
mycursor.execute('update staffrecords set staffdob = "1989-05-06" where id = 2')
mycursor.execute('select * from staffrecords')
for x in mycursor:
    print(x)

(1, 'Janet Lawal', 'Female', datetime.date(1987, 2, 22), '08165898794')
(2, 'Samuel Okoro', 'Male', datetime.date(1989, 5, 6), '08798446897')
(3, 'Susan Paul', 'Female', datetime.date(1992, 6, 27), '080347987945')
(4, 'Jackson Akpan', 'male', datetime.date(1985, 7, 25), '070689789546')
(5, 'Ojukwu Okere', 'Male', datetime.date(1991, 12, 24), '09057789548')
(6, 'Johan Akinlabi', 'Female', datetime.date(1985, 9, 15), '0978545689')
(7, 'PAtrick Ogunlade', 'Male', datetime.date(1997, 5, 30), '09159632478')

In [39]:
mycursor.execute('delete  from staffrecords where id = 7')
mycursor.execute('select * from staffrecords')
for x in mycursor:
    print(x)

(1, 'Janet Lawal', 'Female', datetime.date(1987, 2, 22), '08165898794')
(2, 'Samuel Okoro', 'Male', datetime.date(1989, 5, 6), '08798446897')
(3, 'Susan Paul', 'Female', datetime.date(1992, 6, 27), '080347987945')
(4, 'Jackson Akpan', 'male', datetime.date(1985, 7, 25), '070689789546')
(5, 'Ojukwu Okere', 'Male', datetime.date(1991, 12, 24), '09057789548')
(6, 'Johan Akinlabi', 'Female', datetime.date(1985, 9, 15), '0978545689')

In [41]:
mycursor.execute('select * from staffrecords where staffgender = "Male"')
for x in mycursor:
    print(x)

(2, 'Samuel Okoro', 'Male', datetime.date(1989, 5, 6), '08798446897')
(4, 'Jackson Akpan', 'male', datetime.date(1985, 7, 25), '070689789546')
(5, 'Ojukwu Okere', 'Male', datetime.date(1991, 12, 24), '09057789548')