In [7]:
import pymysql

In [8]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'simba911',
    database = 'schoolrecordsmanagementsystem'
)
mycursor = mydb.cursor()

In [21]:
mycursor.execute('select count(famsize) from studentper')
for x in mycursor:
    print(x)

(247,)

In [32]:
mycursor.execute('select count(*) from studentper where emotions = 2')
for x in mycursor:
    print(x)

(131,)

In [66]:
mycursor.execute('select count(distinct age) from studentper')
for x in mycursor:
    print(x)

(6,)

In [68]:
mycursor.execute('select age,sex,Mjob,Fjob,count(*) from studentper group by age')
for x in mycursor:
    print(x)

(13, 'M', 'OTHER', 'OTHER', 84)
(12, 'F', 'at_home', 'OTHER', 69)
(11, 'F', 'HEALTH', 'ADMIN', 17)
(14, 'M', 'ADMIN', 'OTHER', 57)
(10, 'M', 'ADMIN', 'TEACHER', 6)
(15, 'F', 'HEALTH', 'ADMIN', 14)

In [69]:
mycursor.execute('select sum(JS11st) from studentper')
for x in mycursor:
    print(x)

(Decimal('17127'),)

In [71]:
mycursor.execute('select sum(JS11st) from studentper where age >= 14')
for x in mycursor:
    print(x)

(Decimal('4884'),)

In [42]:
mycursor.execute('select age,sum(JS11st) from studentper group by age')
for x in mycursor:
    print(x)

(13, Decimal('5946'))
(12, Decimal('4740'))
(11, Decimal('1161'))
(14, Decimal('3941'))
(10, Decimal('396'))
(15, Decimal('943'))

In [41]:
mycursor.execute('select age,Fjob,sum(JS12nd) from studentper group by age')
for x in mycursor:
    print(x)

(13, 'OTHER', Decimal('5933'))
(12, 'OTHER', Decimal('4804'))
(11, 'ADMIN', Decimal('1147'))
(14, 'OTHER', Decimal('4063'))
(10, 'TEACHER', Decimal('399'))
(15, 'ADMIN', Decimal('973'))

In [43]:
mycursor.execute('select avg(JS1st) from studentper group by age')
for x in mycursor:
    print(x)

(Decimal('70.1905'),)
(Decimal('68.5942'),)
(Decimal('66.7647'),)
(Decimal('69.3333'),)
(Decimal('68.1667'),)
(Decimal('66.7143'),)

In [73]:
mycursor.execute('select avg(JS32nd) from studentper group by age where age = 11')
for x in mycursor:
    print(x)

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'where age = 11' at line 1")

In [64]:
mycursor.execute('select age,avg(JS2ndt) from studentper group by age')
for x in mycursor:
    print(x)

(13, Decimal('71.3690'))
(12, Decimal('70.1304'))
(11, Decimal('68.0588'))
(14, Decimal('70.7719'))
(10, Decimal('68.5000'))
(15, Decimal('69.7143'))

In [53]:
mycursor.execute('select max(age) from studentper')
for x in mycursor:
    print(x)

(15,)

In [52]:
mycursor.execute('select max(age) from studentper where JS11st >= 85')
for x in mycursor:
    print(x)

(15,)

In [51]:
mycursor.execute('select Mjob,max(age) from studentper group by Mjob')
for x in mycursor:
    print(x)

('OTHER', 15)
('at_home', 12)
('TEACHER', 14)
('CIVIL SERVANT', 12)
('ADMIN', 14)
('HEALTH', 15)
('POLICE', 14)
('CRAFT', 14)
('BUSINESS', 14)
('FARMER', 14)

In [55]:
mycursor.execute('select Mjob,min(age) from studentper group by Mjob')
for x in mycursor:
    print(x)

('OTHER', 12)
('at_home', 12)
('TEACHER', 11)
('CIVIL SERVANT', 10)
('ADMIN', 10)
('HEALTH', 11)
('POLICE', 13)
('CRAFT', 13)
('BUSINESS', 13)
('FARMER', 13)

In [62]:
mycursor.execute('select * from studentper limit 1')
for x in mycursor:
    print(x)

('M', 13, 'RURAL', 'GT3', 'T', 1, 0, 'OTHER', 'OTHER', 'mother', 3, 2, 'no', 4, 'no', 1, 'yes', 'yes', 'no', 68, 69, 70, 71, 72, 69, 72, 70)

In [65]:
mycursor.execute('select * from studentper order by age desc limit 1')
for x in mycursor:
    print(x)

('M', 15, 'URBAN', 'LE3', 'A', 1, 0, 'OTHER', 'ADMIN', 'mother', 1, 0, 'no', 5, 'yes', 2, 'yes', 'no', 'no', 66, 76, 87, 82, 85, 69, 68, 81)