In [1]:
import pymysql

In [2]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'simba911'
)
mycursor = mydb.cursor()

In [3]:
mycursor.execute('create database greenwayschoolmanagementsystem')

1

In [4]:
mycursor.execute('show databases')
for x in mycursor:
    print(x)

('greenwayschoolmanagementsystem',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [7]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'simba911',
    database='greenwayschoolmanagementsystem'
)
mycursor = mydb.cursor()

In [8]:
mycursor.execute('show tables')

0

In [10]:
mycursor.execute('create table staffdetails(id int not null primary key,StaffName varchar(255) not null,staffgender varchar(10) not null,staffdob date not null)')

OperationalError: (1050, "Table 'staffdetails' already exists")

In [2]:
import random
import datetime
score = 0
timetaken = 0
counter = 1 
while counter <= 10:
    num1 = random.randint(10,99)
    num2 = random.randint(10,99)
    starttime = datetime.datetime.now()
    answer = int(input(f'{num1} + {num2}='))
    if answer == sum([num1,num2]):
        score +=5
    else:
        score +=0
    stoptime = datetime.datetime.now()
    diff = stoptime - starttime
    timetaken += diff.seconds
    counter += 1
print(f'Your score in answering 10 questions is {score} in {timetaken} seconds')

Your score in answering 10 questions is 45 in 60 seconds